
body{

  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

}

h1.hero-title{

  font-size: 48px;
  text-decoration: underline;
  text-align: center;
  color: yellow;
}

h2 {
  font-size: 36px;
  text-align: center;
  color: teal;
}

p {
  text-align: center;
  color: orange;
}
.library{
  text-align: center;

}
.player-bar {
  background: black;
  height: 100px;
  width: 100%;
}

#buttons {
  width: 300px;
  margin: auto;
  text-align: center;
  color: white;
}

.albumText{
  text-align: center;
  color:white;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#buttons button {
  border: none;
  background: none;
  color: black;
  font-size: 1.2rem;
  color: hsla(0, 0%, 100%, 0.5);
  transition: all 0.2s ease;
  cursor: pointer;
}

#buttons button:hover, #buttons button:focus {
  outline: none;
  color: white;
}

#buttons #play-pause {
  font-size: 2rem;
  margin: 0.5rem 1rem 0;
}

#song-duration{
  color:white;
}

#time-control input {
  float: left;
  width: calc(100% - 80px);
}

#time-control {
  margin: 0.5rem auto;
  width: 45%;
}
.music-up {
    position: static;
    display: block;
    top: 55%;
    right: 0px;
    left: 70%;
    line-height: 20px;
    font-size: 36px;
    font-family: AvenirNext-bold;
}
.company-name {
  text-align: center;
}

.point1, .point2, .point3 {
    letter-spacing: 0.25px;
    width: 33%;
    float: left;
    text-align: center;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 33%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.point1-title, .point2-title, .point3-title {
    font-family: AvenirNext-Bold;
    font-size: 20px;
    color: #5E5E5E;
}

.img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

#time-control div,
#volume-control div {
  font-size: 0.8rem;
  color: hsla(0, 0%, 100%, 0.4);

  display: block;
  float: left;
  text-align: center;
}

#volume-control div {
  font-size: 1.3rem;
  width: 15px;
}

#volume-control {
  transform: translateY(-7%);
  position: absolute;
  right: 15rem;
  width: 10%;
}

#volume-control input {
  float: left;
  width: calc(100% - 40px);
}
#album-cover-art {
  align-items: center;
  overflow: hidden;
}

#song-list {
  border-collapse: collapse;
  clear: both;
  font-weight: 100;
  margin-top: 1rem;
  margin-bottom: 3rem;
  overflow: hidden;
  width: 100%;
}

#song-number-column {
  width: 40px;
}
#song-duration-column {
  width: 80px;
}

tr {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  background: hsla(0, 0%, 0%, 0.05);
  transition: all 0.2s ease;
}

tr:hover .song-title {
  color: hsla(0, 0%, 100%, 1);
}

tr:last-child {
  border: none;
}

td {
  padding: 0.75rem;
}

tr button {
  border: none;
  background: none;
  color: white;
}


.song-number {
  color: black;
}

.song-title {
  color: black;
}

.song-duration {
  color: black;
  text-align: right;
}

html {
  font-size: 16px;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 4rem auto 150px;
  padding: 1rem;
  box-sizing: border-box;
}

#album-info {
  overflow: hidden;
  color: black;
}

#album-title {
  font-size: 2.5rem;
  font-weight: lighter;
}

h2.artist {
  font-weight: lighter;
  font-size: 1.25rem;
  opacity: 0.9;
  color: black;
  text-align: left;
}

#release-info {
  opacity: 0.5;
  font-size: 0.75rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
